/*global styles*/

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.gradienttext {
  font-family: "Tilt Neon", sans-serif;
  background-image: linear-gradient(
    90deg,
    rgb(118, 167, 63) 0%,
    rgb(51, 143, 118) 40%,
    rgb(55, 141, 167) 50%,
    rgb(117, 152, 242) 70%,
    rgb(144, 118, 236) 100%
  );
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  
}
.main{
  padding: 5rem 2rem 2rem 2rem;
}
.main2{
  padding: 0rem 2rem 0 2rem;
}
.main{
  overflow: hidden;

}

.fullmain{
  padding: 3rem 2rem 0rem 2rem;
  width: 100%;
}
@media (max-width:397px){
  .main{
    padding: 5rem 15px 15px 15px;
  }
  .main3{
    padding: 2rem 0px 15px 0px;
  }
}

.createYourBlog button{
  font-size: 1.2rem;
  font-weight: 500;
  padding: 12px 16px;
  margin: 2rem 0;
  margin-top: auto;
}
.createYourBlog{
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px 10px 10px 3rem;
  display: grid;
  grid-template-columns: 1fr 0.50fr;
}
.homeGrid{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homeGrid h1{
  padding-top: 30px;
}
.createYourBlog p{
  color: white;
  width: 80%;
  font-size: 18px;
  padding-bottom: 20px;
}
.createYourBlog img{
  width: 100%;
  max-width: 400px;
}
@media (max-width:1150px){
  .createYourBlog{
grid-template-columns: 1fr 0.8fr;
  }
  .imagegraphic{
    width: 100%;
    object-fit: cover;
  }
}
@media (max-width:1007px){
  .createYourBlog{
grid-template-columns: 1fr;
padding: 15px;
  }
  .imagegraphic{
    display: none;
  }
  .createYourBlog p{
    width: 100%;
  }
}




/*reference styles*/
.reference h2{
  padding: 25px 0 10px 10px;
}
.reference p{
  font-size: 18px;
  padding-bottom: 10px;
  padding-left: 50px;
}
.reference a{
  color: #f5c536;
padding: 3rem;
}
@media (max-width:810px){
  .reference p{
    
    padding-left:10px;
  }
  .reference a{
   
  padding: 1rem;
  }
  
  
}

/*about styles*/
.aboutdescription{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.description h1{
  padding: 1rem 0 1rem 0;
  font-size: 3.3rem;
}
.aboutdescription p{
  font-size: 18px;
}
.aboutdescription button{
  font-size: 1.2rem;
  font-weight: 500;
  padding: 12px 16px;
  margin: 2rem 0;
}
.aboutgraphics img {
  max-width: 400px;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.aboutgraphics{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.button{
  max-width: max-content;
  background: linear-gradient(
    90deg,
    rgb(118, 167, 63) 0%,
    rgb(51, 143, 118) 40%,
    rgb(55, 141, 167) 50%,
    rgb(117, 152, 242) 70%,
    rgb(144, 118, 236) 100%
  );
  background-size: 200%;
  background-position: left;
  color: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5),
    inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.hronabout{
  display: none;
}
  .aboutcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

@media (max-width:845px){
  .aboutgraphics{
    display: none;
  }
  .aboutdescription{
    grid-template-columns: 1fr;
    
  }
  .aboutcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .gradienttext {
    text-align: center;
  }
  .hronabout{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }
}





/*Our team*/

.flexme{
  width: 100%;
  display: flex;
 
  justify-content: center;
  align-items: center;
}

.ourteam{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.ourteam h1{
    padding: 3rem 0 1rem 0;
    font-size: 3.3rem;
}
.cardcomp{
  width: 300px;
  padding: 0;
  border: 1px solid #ffe08293;
  box-shadow: 5px 5px 8px -4px #f5c536;
}
.imageContainer img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.cardcomp:hover{
  opacity: 1;
}
.tags{
  display: flex;
  flex-wrap: wrap;
}
.cardcontent{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.tags span{
  color: #f5c536;

  border-radius: 20px;
  padding: 1px 5px;
  font-family: monospace;
  border: 1px solid #f5c536;
  margin: 1.5px 2px 1.5px 0px;
  text-transform: lowercase;
}
.quotes{
  text-align: center;
  padding: 7px 0;

}

/* .cardsContainer{
  margin: auto;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 300px 300px 300px 300px;
  place-items: center;
  grid-auto-columns: 300px;
  overflow-x: hidden;
  width: 100%;
  grid-gap: 10px;
  padding: 0 0 20px 0;
  scroll-behavior: smooth;
} */

.cardsContainer{
  margin: auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0 0 20px 0;
  scroll-behavior: smooth;
}
.imageContainer{
  display: flex;
}
.imageContainer h3 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: relative;
  transform: rotate(180deg);
  text-transform: uppercase;
color: black;
  
  padding: 10px;
  margin: 0;
}
.socialsCard{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 10px;
}
.socialsCard img{
  width: 50px;
  padding:10px;
}
.socialsCard a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.githubBackground{
  background-color: white;
}

.codepenBackground{
  background-color: white;
}
.linkedinBackground{
  background-color: white;
}
@media (max-width:1300px) {
  .cardsContainer{
    margin: auto;
  
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 300px 300px 300px 300px;
    place-items: center;
    grid-auto-columns: 300px;
    overflow-x: hidden;
    width: 100%;
    grid-gap: 10px;
    padding: 0 0 20px 0;
    scroll-behavior: smooth;
  } 

}
@media (max-width:501px) {

}





/* Ensure these styles are in your CSS module or global styles */
.loaderContainer {
  top: 0;
  left: 0; /* Ensure it starts from the left edge */
  position: fixed; /* Use fixed to ensure it covers the viewport */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  z-index: 100000; /* Ensure it is on top of everything */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content vertically and horizontally */
  background-color: white; /* Background color */
  overflow: hidden; /* Prevent any overflow */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
  border: 0; /* Remove any default borders */
}

.loaderContainer img {
  width: 50px; /* Adjust the size of the loader image */
}

.hidden {
  display: none;
}

/*home page*/
.homePage h2{
  padding: 3rem 0 1rem 0;
}

.centere{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


/*navbar*/
.menubar{
  display: grid;
grid-template-columns: 70px 70px 100px 60px 120px;
margin-left: auto;
}
.miniProfile{
  border-radius: 50%;
  border: 1px solid grey;
  width: 40px;
  
  }
  .sorrynodisplay{
    display: none;
  }
  .hiddencard{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.87);
  padding: 10px;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid grey;
  right: 10px;
  top: 100%;
 transition: 1s all ease-in-out;
  }
  .niceProfile{
  border-radius: 50%;
  width: 4rem;
  }
.hiddencard .gradienttext{
  font-size: 1.5rem;
}
.miniProfile:hover + .hiddencard {
opacity: 1;/* Show on hover */
}
.userDataalign{
  display: flex;
  justify-content: center;
  align-items: center;
}
.forMobile{
  padding: 20px 10px;
}
.forMobile img{
display: none;
}
.forMobile .greenDot{
display: none;
}
.profileforMobile {
  display: none;
}
.forMobileLogout{
  display: none;
}
.menuButton {

  display: none;
}

@media (max-width:554px){
  
  .menubar{
    position: absolute;
    display: flex;
    width: 250px;
    top: 100%;
    right: 0px;
    height: 100vh;
    z-index: 1000;
    text-align: left;
    flex-direction: column;
    background-color: black;
    color: #d1d1d1;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
    
  }
  .forMobile{
    padding: 0 10px;
    display: flex;

  }
  .forMobile img{
  display: block;

  height: 20px;
  margin: auto 0 auto auto;
  }
  .forMobile .greenDot{
    content: '';
  display: block;
  background-color: rgb(78, 78, 78);
  width: 2px;
margin: 10px 0;
  }
  .profileforMobile {
    display: flex;
    padding: 10px;
  }
  .profileforMobile img {
border: 1px solid rgb(78, 78, 78);
margin-right: 10px;
width: 40px;
height: 40px;
  }
  .names{
    font-size: 16px;
    text-transform: capitalize;
  }
  .emails{
    font-size: 12px;
    text-transform: lowercase;
  }
  .forMobileLogout {
    display: block;
    margin: 10px;
    background-color: #0F0F0F;
    text-align: center;
    border-radius: 5px;
  }
  .menuButton{
    display: block;
    position: absolute;
    padding: 10px;
    background-color: white;
    border: 1px solid #f5c536;
    box-shadow: 5px 5px 8px -4px #f5c536;
  }
  .menuButton img{ 
    width: 40px;
  }
  .menuButton {
    cursor: pointer;
  }

}



/*system codes*/
.description .codes {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}